.subscribe {
    display: grid;
    /* grid-column: 2; */
    grid-template-columns: 1fr 1fr;
    gap: 34px;
    width: 83%;
    color: #fff;
}

.subscribe > .top-top {
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 20px;
    padding: 0.8em 2em;
    justify-self: center;
    border: 2px solid var(--secondary-color);
    grid-column: span 2;
    border-radius: 0.2em;
    cursor: pointer;
}

.subscribe > .last {
    grid-column: span 2;
    border: none;
    border-bottom: 2px solid #fff;
    font-size: 15px;
    padding: 10px 0;
    background-color: transparent;
}

::placeholder {
    color: #fff;
}